* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Tomorrow', sans-serif;
  height: 100vh;

}

nav {
  height: 70px;
  background: lightblue;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

#scoreboard {
  width: 200px;
  border: 2px solid black;
  margin: 20px auto;
  text-align: center;
  padding: 20px;
}

#scoreboard p {
  display: inline-block;
}

#body, #start-screen {
  margin: 20px;
  text-align: center;
}

#start-screen {
  padding: 30px
}

#start-screen input {
  width: 50px;
  margin: 20px auto;
}

#start-screen button {
  padding: 5px;
  background: none;
  border: 2px solid orange;
  border-radius: 10px;
  font-size: 20px;
  font-family: 'Tomorrow', sans-serif;
  transition: all 0.3s ease;
  outline: none;

}

#start-screen button:hover {
  cursor: pointer;
  background: orange;
}

#rock, #paper, #scissor {
  display: inline-block;
  margin: 40px 15px;
  transition: all 0.3s ease;
}

#rock:hover, #paper:hover, #scissor:hover {
  cursor: pointer;
}

.App {
  background: lightgray;
  height: 100vh;
}